[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "0x1355/themes/hello-friend"]
	path = 0x1355/themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
